<footer class="layout-footer">    
    <div>Copyright © @DateTime.Now.Year <a class="companylink" href="https://HoloModular.com" target="_blank">HoloModular LLC</a> All Rights Reserved.</div>
</footer>