@model WebApp.ViewModel.Home.HomeViewModel
@{
    ViewBag.Title = "Welcome to ServiceBricks";
    ViewBag.Description = "Welcome to ServiceBricks";
    ViewBag.Keywords = "Welcome to ServiceBricks";
}
<h1>This is the Client Application</h1>
<p>
    This client application communicates to the server application via HttpClient REST API calls.
    View the appsetting.json to change configurations.
</p>
<h2>View Microservices Data</h2>
<p>
    Click the button below to view the ServiceBricks microservices data.
</p>
<p>
    <a class="btn btn-primary" href="/ViewServiceData">View Service Data</a>
</p>
<h2>IApiClient</h2>
<p>
    You access the various microservices using an IApiClient interface using dependency injection.
    View the HomeController to see how easy it is to use.
</p>
<ul>
    <li>
        <b>Cache Microservice</b><br />
        ServiceBricks.Cache.ICacheDataApiClient
    </li>
    <li>
        <b>Logging Microservice</b><br />
        ServiceBricks.Logging.ILogMessageApiClient<br />
        ServiceBricks.Logging.IWebRequestMessageApiClient
    </li>
    <li>
        <b>Notification Microservice</b><br />
        ServiceBricks.Notification.INotifyMessageApiClient
    </li>
    <li>
        <b>Security Microservice</b><br />
        ServiceBricks.Security.IUserApiClient<br />
        ServiceBricks.Security.IUserAuditApiClient<br />
        ServiceBricks.Security.IUserClaimApiClient<br />
        ServiceBricks.Security.IUserRoleApiClient<br />
        ServiceBricks.Security.IUserTokenApiClient<br />
        ServiceBricks.Security.IRoleApiClient<br />
        ServiceBricks.Security.IRoleClaimApiClient<br />
    </li>
</ul>
<h2>About ServiceBricks</h2>
<p>
    Please visit our website at: <a href="https://ServiceBricks.com" target="_blank">https://ServiceBricks.com</a> to learn more.
</p>
