@model WebApp.ViewModel.Home.HomeViewModel
@{
    ViewBag.Title = "Welcome";
    ViewBag.Description = "Welcome";
    ViewBag.Keywords = "Welcome";
}
<h1>Welcome to the Cache Microservice</h1>
<p>
    This is the ServiceBricks Web API Starter Application.
    You can modify this application however you like.    
</p>
<h2>Swagger</h2>
<p>     
    <a href="/swagger">View Swagger Page</a>
</p>
<h2>About ServiceBricks</h2>
<p>
    Please visit our website at: <a href="http://ServiceBricks.com" target="_blank">http://ServiceBricks.com</a> to learn more.
</p>
