<footer class="footer pt-4 mt-4">
    <div class="d-flex flex-wrap justify-content-between align-items-center gap-2">
        <div>
            <span class=""><img src="/Icon.png" width="25" /></span>
            <span class="fw-semibold">ServiceBricks<sup>&reg;</sup></span>
            <span class="muted">• Developer Test Site</span>
        </div>
        <div class="muted small">
            <span id="year"></span> © HoloModular LLC • <a href="https://ServiceBricks.com" target="_blank" rel="noopener">ServiceBricks.com</a>
        </div>
    </div>
</footer>