<header class="layout-header container">
    <div class="row">
        <div class="col-md-4">
            <img src="/Logo.png" width="200" class="pt-1" alt="ServiceBricks Logo" />
        </div>
        <div class="col-md-4">
            <strong class="fs-5">ServiceBricks Server Application</strong>
        </div>
        <div class="col-md-4">
            
        </div>
    </div>        
</header>