@{
    ViewBag.Title = "Account Not Found";
    ViewBag.Description = "Account Not Found";
    ViewBag.Keywords = "account not found";
}
<div class="container">
    <h1>Account Not Found</h1>
    <p>
        An account has not been registered with that email address.
    </p>
    <a class="btn btn-primary" href="/register">Register</a>
</div>