@model WebApp.ViewModel.Home.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
    ViewBag.Description = "Reset Password";
    ViewBag.Keywords = "Reset Password";
}
<div class="container">
    <div class="row text-danger">
        @Html.ValidationSummary()
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <form action="/ResetPassword" method="post">
                @Html.AntiForgeryToken()        
                @Html.HiddenFor(x => x.Code, Model)               
                <h3 class="margin-bottom-1x">Reset Your Password Using The Form Below</h3>
                <div class="form-group input-group">
                    <input id="Email" name="Email" class="form-control" type="email" placeholder="Email" required><span class="input-group-addon"><i class="icon-mail"></i></span>
                </div>
                <div class="form-group">
                    <label for="reg-pass">Password</label>
                    <input class="form-control" placeholder="Password" type="password" id="Password" name="Password" required>
                </div>
                <div class="form-group">
                    <label for="reg-pass-confirm">Confirm Password</label>
                    <input class="form-control" placeholder="Confirm Password" type="password" id="ConfirmPassword" name="ConfirmPassword" required>
                </div>
                <div class="text-center text-sm-right">
                    <button class="btn btn-primary" type="submit">Reset Password</button>
                </div>
            </form>
        </div>      
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Email').focus();
        });
    </script>
}