@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model WebApp.ViewModel.Home.ErrorViewModel
@{
    ViewBag.Title = @Localizer.GetString("Error");
    ViewBag.Description = "Error";
    ViewBag.Keywords = "Error";
}
<h1>@Localizer.GetString("Error")</h1>
<p>
    @Localizer.GetString("An error happened processing your request.")
</p>
<p>
    @if(Model != null)
    {
        @Model.Message
    }    
</p>