@model WebApp.ViewModel.Home.HomeViewModel
@{
    ViewBag.Title = "Welcome";
    ViewBag.Description = "Welcome";
    ViewBag.Keywords = "Welcome";
}
<h1>Welcome to the Security Microservice</h1>
<p>
    This is the ServiceBricks Web API Starter Application.
    You can modify this application however you like.    
</p>
<h2>Test Admin Account</h2>
<p>
    In the WebApp.Extension.ApplicationBuilderExtensions class, a default test admin account is already created for you with the following credentials:
    <div>Username: unittest@servicebricks.com</div>
    <div>Password: UnitTest123!@@#</div>
</p>
<p>     
    <a href="/swagger">View Swagger Page</a>
</p>
<p>
    Please visit our website at: <a href="http://ServiceBricks.com" target="_blank">http://ServiceBricks.com</a> to learn more.
</p>
