@model WebApp.ViewModel.Home.HomeViewModel
@{
    ViewBag.Title = "Welcome";
    ViewBag.Description = "Welcome";
    ViewBag.Keywords = "Welcome";
}
<h1>Welcome to the Client Web Application</h1>
<p>
    This web application is a client application that consumes the ServiceBricks Web APIs of all microservices.
</p>
<h2>Access Microservices Data</h2>
<p>
    Click the <a class="btn btn-primary" href="/ViewServiceData">View Data</a> button to view microservices data.
</p>
<h2>Swagger</h2>
<p>
    <a href="/swagger">View Swagger Page</a>
</p>
<h2>About ServiceBricks</h2>
<p>
    Please visit our website at: <a href="http://ServiceBricks.com" target="_blank">http://ServiceBricks.com</a> to learn more.
</p>
