@{
    ViewBag.Title = "Account Lockout";
    ViewBag.Description = "Account Lockout";
    ViewBag.Keywords = "Account Lockout";
}
<div class="container">
    <h1>This Account Has Been Locked Out Temporarily</h1>
    <p>
        Too many invalid password attempts will lockout your account.
        Click the button below to reset your password.
    </p>
    <a class="btn btn-primary" href="/forgotpassword">Forgot Password</a>
</div>