@{
    ViewBag.Title = "Login";
    ViewBag.Description = "Login to ServiceBricks";
    ViewBag.Keywords = "login, account login";
}
<div class="container">
    @Html.ValidationSummary()
    <form id="loginForm" novalidate action="/Login" method="post">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-12">
                <label for="email" class="form-label">Email</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
            </div>            
            <div class="col-12">
                <label for="password" class="form-label">Password</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fas fa-lock"></i>
                    </span>
                    <input type="password" class="form-control" id="password" name="password" minlength="8" required>                    
                </div>
            </div>            
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="rememberme" name="rememberme" value="false">
                    <label class="form-check-label" for="remember_me">Remember me</label>
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Login</button>
                <p>Don't have an account? <a class="text-decoration-none" href="/register">Register Here</a></p>
                <p>Forgot Your Password? <a class="text-decoration-none" href="/forgotpassword">Reset Password</a></p>
            </div>
        </div>
    </form>
</div>