@{
    ViewBag.Title = "Register Complete";
    ViewBag.Description = "Register Complete";
    ViewBag.Keywords = "Register Complete";
}
<div class="container">    
    <h1>Thank you for Registering!</h1>
    <p>
        An email has been sent to you to confirm your identity.
    </p>    
    <p>
        You must verify your email within the next 3 hours to confirm your account, otherwise we can send another confirmation email to you.
    </p>
    <a class="btn btn-primary" href="/">Home Page</a>
    <p>
        If you need us to send you another email, click the button below.
    </p>        
    <a class="btn btn-primary" href="/registerresendemail">Resend Confirmation Email</a>
</div>

