@model WebApp.ViewModel.Home.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
    ViewBag.Description = "Forgot Password";
    ViewBag.Keywords = "Forgot Password";
}
<div class="container">
    <div class="row text-danger">
        @Html.ValidationSummary()
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <form action="/ForgotPassword" method="post">
                @Html.AntiForgeryToken()
                <h1>Enter your email address to reset your password</h1>
                <div class="form-group input-group">
                    <input id="Email" name="Email" class="form-control" type="email" placeholder="Email" required><span class="input-group-addon"><i class="icon-mail"></i></span>
                </div>                
                <button class="btn btn-primary" type="submit">Send Email</button>                
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Email').focus();
        });
    </script>
}
