@model ServiceBricks.IResponse
@{
    ViewBag.Title = "Forgot Password Complete";
    ViewBag.Description = "Forgot Password Complete";
    ViewBag.Keywords = "Forgot Password Complete";
}
<div class="container">
    <h1>Password Reset Email Sent</h1>
    <p>
        An email has been sent to you to reset your password.        
        If you do not receive an email in your inbox, check your spam folder.
        Please allow up to 5 minutes for your email to be delivered.            
    </p>
    <a class="btn btn-primary" href="/">Home Page</a>
</div>
