@model ServiceBricks.IResponse
@{
    ViewBag.Title = "Password Reset Complete";
    ViewBag.Description = "Password Reset Complete";
    ViewBag.Keywords = "Password Reset Complete";
}
<div class="container">
    <h1>Your password has been successfully reset!</h1>
    <a class="btn btn-primary" href="/Login">Login</a>    
</div>
