 <nav class="navbar navbar-expand-lg navbar-dark py-3">
    <div class="container">
        <a class="navbar-brand fw-semibold" href="/">
            <img src="/Icon.png" width="40" /> ServiceBricks<sup>&reg;</sup>
            <span class="badge rounded-pill text-bg-dark ms-2 border border-light border-opacity-10">Dev Test Site</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topnav" aria-controls="topnav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="topnav">
            <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-2">
                <li class="nav-item"><a class="nav-link" href="#viewdata">View Data</a></li>                
                <li class="nav-item"><a class="nav-link" href="#usage">Usage</a></li>                
            </ul>
        </div>
    </div>
</nav>