@{
    ViewBag.Title = "Account Home";
    ViewBag.Description = "Account Home";
    ViewBag.Keywords = "Account Home";
}
<h1>Account Home</h1>
<p>
    This is the account home page for @User.Identity.Name
</p>
